# Practicing Python to Improve My Skills

**Logic in Programming**

In [2]:
num = 5
if num > 1:
    print(num)

5

In [4]:
name = "Jeanette"
if name=='Jeanette':
    print("Hi Jette")
print("Have a great day!")

Hi Jette
Have a great day!

In [6]:
a = 5
if a > 5:
    print("Greater than five")
else:
        print("Five or less")

Five or less

In [7]:
total = 40.29
if total > 50:
    print("You get free shipping!")
elif total > 40:
    print("Spend a little more to get free shipping!")
else:
    print("Spend $50 to get free shipping")

Spend a little more to get free shipping!

In [8]:
try:
    5 / 0
except:
    print("Don't divide by zero")

Don't divide by zero

In [9]:
try:
    5/1
    print("Valid Math")
except:
    print("Invalid Math")

Valid Math

In [19]:
total = 19 + 9.99 + 13.97 + 20 + 15.97 + 9.97 + 10 * 2
party = 8
print("Receipt for your meal")
if party >=8:
    total = total * 1.2
    print("We've added the tip automatically since your party was eight or more")
print("Total: ", total)
print("Thank you for dining with us today!")

Receipt for your meal
We've added the tip automatically since your party was eight or more
Total:  130.68
Thank you for dining with us today!

**Storing texts in strings**

In [20]:
print('Apple: ', '$1.99 / lb')

Apple:  $1.99 / lb

In [22]:
print('Apple: '),
print('$1.99 / lb')

Apple:
$1.99 / lb

In [24]:
name = "Jeanette"
name.upper()

'JEANETTE'

In [25]:
name.isdigit()

False

In [27]:
name.isalpha()

True

In [28]:
first_name = "Jeanette"
last_name = "Shutay"
first_name + " " + last_name

'Jeanette Shutay'

In [29]:
a='5'
a * 5

'55555'

In [30]:
a * 0

''

In [31]:
a * -5
#if multipy or add by float, you will get an error
#Can't divide with strings

''

In [32]:
statement = "Hi, Jeanette!\nAre you going to the baseball game tomorrow?\nI'm hoping that I can make it!"
print(statement)

Hi, Jeanette!
Are you going to the baseball game tomorrow?
I'm hoping that I can make it!

In [33]:
header = "Dish\tPrice\tType"
print(header)

Dish	Price	Type

In [35]:
name = "Harry O\'Conner"
print(name)

Harry O'Conner

**Processing Input and Output**

In [36]:
bad_input = "***Jeanette***"
bad_input.strip('*')
#Can use rstrip and lstrip to remove from one side only

'Jeanette'

In [37]:
bad_input = "  Jeanette"
bad_input.strip()

'Jeanette'

In [39]:
#Can use .count('the') to count the number of times the word "the" appears in a string of text
#Can use .find('ugly') to see how many times the word "ugly" appears in a string

In [5]:
number = input()

30 years

In [6]:
age = input("What is your age?")

What is your age?47

In [7]:
type(age)

str

In [8]:
age = int(age)

In [9]:
type(age)

int

In [12]:
from getpass import getpass
password = getpass('Input your password: ')

Input your password: ········

In [13]:
password

'Shutay'

In [18]:
year = input("What year were you born [ex: 1990]? ")
if len(year) != 4 or not year.isdigit():
    print("Use a four number digit, please")
else: 
    print("Thanks!")

What year were you born [ex: 1990]? 72
Use a four number digit, please

In [19]:
street_name = input("What is your street name?: ")
street_name = street_name.strip()

What is your street name?: Dublin Drive

In [22]:
session = "Session{}, Condition{},  Day of Week{}. Remember to enter your data into the spreadsheet when done."
daypart = ": Morning"
condition = ": Tree Cover"
dow = ": Saturday"
print(session.format(daypart, condition, dow))

Session: Morning, Condition: Tree Cover,  Day of Week: Saturday. Remember to enter your data into the spreadsheet when done.

**Grouping items in lists**

In [23]:
bird1 = 'Cardinal'
bird2 = 'Black-capped Chickadee'
bird_list = [bird1, bird2]
bird_list

['Cardinal', 'Black-capped Chickadee']

In [24]:
bird2 = 'Purple Finch'

In [25]:
bird_list
#Stays with Black-capped Chickadee because it was just a copy of bird2

['Cardinal', 'Black-capped Chickadee']

In [26]:
numbers = [1, 2, 5, 7, 8]
len(numbers)

5

In [38]:
color_list = ['yellow', 'green', 'red', 'blue', 'purple', 'green']
color_list.count('green')

2

In [28]:
color_list.count('magenta')

0

In [29]:
color_list.index('red')

2

In [30]:
color_list.index('green')

1

In [31]:
color_list[2]

'red'

In [32]:
'pink' in color_list

False

In [39]:
color_list.append('black')
color_list

['yellow', 'green', 'red', 'blue', 'purple', 'green', 'black']

In [40]:
color_list.append(color_list[2])
color_list

['yellow', 'green', 'red', 'blue', 'purple', 'green', 'black', 'red']

In [41]:
color_list.remove('red')
color_list

['yellow', 'green', 'blue', 'purple', 'green', 'black', 'red']

In [43]:
color_list.remove(color_list[1])
color_list

['yellow', 'blue', 'purple', 'green', 'black', 'red']

In [44]:
color_list.insert(1, 'green')
color_list

['yellow', 'green', 'blue', 'purple', 'green', 'black', 'red']

In [45]:
a = [1, 9, 7, 2]
b = [2, 4]
a + b

[1, 9, 7, 2, 2, 4]

In [46]:
a * 2

[1, 9, 7, 2, 1, 9, 7, 2]

In [49]:
color_list.reverse()
color_list

['red', 'black', 'green', 'purple', 'blue', 'green', 'yellow']

In [50]:
color_list.sort()
color_list
#Does the same with numbers

['black', 'blue', 'green', 'green', 'purple', 'red', 'yellow']

In [51]:
classes = ['Algebra', 'English', "History", "Biology", "PE"]
sequence = ['Algebra', 'English', "History", "Biology", "PE"]
classes == sequence

True

**Using loops to repeat code**

In [52]:
range(7)

range(0, 7)

In [54]:
range(2, 20, 2)

range(2, 20, 2)

In [56]:
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
for year in range(1980, 2020):
    print("In the {}...".format(year))

In the 1980...
In the 1981...
In the 1982...
In the 1983...
In the 1984...
In the 1985...
In the 1986...
In the 1987...
In the 1988...
In the 1989...
In the 1990...
In the 1991...
In the 1992...
In the 1993...
In the 1994...
In the 1995...
In the 1996...
In the 1997...
In the 1998...
In the 1999...
In the 2000...
In the 2001...
In the 2002...
In the 2003...
In the 2004...
In the 2005...
In the 2006...
In the 2007...
In the 2008...
In the 2009...
In the 2010...
In the 2011...
In the 2012...
In the 2013...
In the 2014...
In the 2015...
In the 2016...
In the 2017...
In the 2018...
In the 2019...

In [59]:
cats = ['manx', 'tabby', 'calico']
for cat in cats:
    print("That's a nice {} you have there!".format(cat))

That's a nice manx you have there!
That's a nice tabby you have there!
That's a nice calico you have there!

In [61]:
numbers = [5, 2, 0, 20, 30]
for number in numbers:
    if number == 0:
        print("Ugh, you gave me a zero")
        continue
    new_number = 100.0/number
    print("100/{} = {} ".format(number, new_number))

100/5 = 20.0
100/2 = 50.0
Ugh, you gave me a zero
100/20 = 5.0
100/30 = 3.3333333333333335

In [62]:
cart = [20.25, 30.04, 102.4, 50, 80]
for item in cart:
    print(item)
    if item > 100:
        print("You will need insurance for this item.")

20.25
30.04
102.4
You will need insurance for this item.
50
80

In [71]:
cart = [20.25, 30.04, 102.4, 50, 80]
for item in cart:
    print(item)
    if item > 100:
        print("You will need insurance for this item")
        break
    else:
        print("No insurance is needed for this item")

20.25
No insurance is needed for this item
30.04
No insurance is needed for this item
102.4
You will need insurance for this item

In [79]:
import pandas as pd
df = pd.DataFrame(cart)
df.describe()

                0
count    5.000000
mean    56.538000
std     34.334738
min     20.250000
25%     30.040000
50%     50.000000
75%     80.000000
max    102.400000

In [111]:
df_birds=pd.read_csv('https://raw.githubusercontent.com/jshutay/Conservation/master/BirdStudyData.csv')
df_birds.describe()

,Sample,DurationHours,Consumption,Valid,Rate,Conversion
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,12.000000,4.108696,15.210217,0.739130,303.929261,927.371442
std,6.706547,3.838277,7.644176,0.443961,156.289174,572.518194
min,1.000000,1.000000,2.900000,0.000000,5.385000,5.385400
25%,6.250000,1.500000,9.500000,0.250000,198.657000,499.699000
50%,12.000000,3.000000,12.400000,1.000000,313.062500,716.897400
75%,17.750000,5.125000,23.275000,1.000000,428.001000,1531.391400
max,23.000000,12.500000,26.700000,1.000000,652.689000,1787.910200

In [119]:
metric = df_birds['Rate'].mean()
for daypart in df_birds['TimeofDay']:
    print(metric.format(daypart))



#cats = ['manx', 'tabby', 'calico']
#for cat in cats:
#    print("That's a nice {} you have there!".format(cat))

AttributeError: 'float' object has no attribute 'format'

In [124]:
age = input("Please give me your age")
while not age.isdigit():
    print("please give me your age in a digits")
    age = input("Please give me a two year number for your age")
else:
    print("Thank you!")

Please give me your age47 years
please give me your age in a digits
Please give me a two year number for your age47
Thank you!

In [127]:
while True:
    text = input("Give me some text, and I'll count the e's. Enter 'q' to quit: ")
    if text == 'q':
        break
    print(text.count('e'))

Give me some text, and I'll count the e's. Enter 'q' to quit: Katie
1
Give me some text, and I'll count the e's. Enter 'q' to quit: Hannah
0
Give me some text, and I'll count the e's. Enter 'q' to quit: elderberries
4
Give me some text, and I'll count the e's. Enter 'q' to quit: q

**Using functions to create reusable code**

In [4]:
def print_address(name, address):
    print(name)
    print(address)
hospital = "INOVA Hospital"
address = "300 Prince William Parkway\n\
Woodbridge, VA 22193"
print_address(hospital, address)

INOVA Hospital
300 Prince William Parkway
Woodbridge, VA 22193

In [5]:
#Example telling python where the values are supposed to be saved
def print_total(customer_name, items):
    print("Total for {}".format(customer_name))
    total = 0
    for item in items:
        total = total + item
    print("${}".format(total))
print_total(items=[4.52, 6.31, 5.00], customer_name="Karen")

Total for Karen
$15.829999999999998

In [9]:
def print_welcome(first, last, middle=''):
    print("Welcome, {} {} {}!".format(first, middle, last))
    print("Enjoy your stay!")
print_welcome(first = "James", last = "Grinnell")

Welcome, James  Grinnell!
Enjoy your stay!

In [11]:
def get_total(items):
    total = 0
    for item in items:
        total = total + item
    return total

items = [2,5,7,8,2]
items_total = get_total(items)
items_total

24

In [12]:
def get_square_and_cube(number):
    square = number ** 2
    cube = number ** 3
    return square, cube

In [14]:
result = get_square_and_cube(5)
result

(25, 125)

In [16]:
square, cube = get_square_and_cube(3)
square

9

In [17]:
cube

27

In [ ]:
#**kwargs is put in the parameters of a function to allow the user to add as many as they want.  The extra parameters get printed out in a dictionary.
#*args is put in the parameters of a function, which puts extra parameter inputs into a tuple.